<nav class="navbar">
  <a class="nav-link" href="/recipes"><img src="https://i.imgur.com/uZ5b7uo.png" width="122" height="62" alt=""></a>
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/meat">Meat</a>
      </li>
      <li class="nav-item"> | </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/poultry">Poultry</a>
      </li>
      <li class="nav-item"> | </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/seafood">Seafood</a>
      </li>
      <li class="nav-item"> | </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/vegetarian">Vegetarian</a>
      </li>
    </ul>
  </div>
</nav>