<nav class="navbar">
  <a class="nav-link" href="/recipes"><img src="https://i.imgur.com/uZ5b7uo.png" width="122" height="62" alt=""></a>
  <div>
    <ul id="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="/recipes/meat">Meat</a>
      </li>
      <li class="nav-item"> | </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/poultry">Poultry</a>
      </li>
      <li class="nav-item"> | </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/seafood">Seafood</a>
      </li>
      <li class="nav-item"> | </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/vegetarian">Vegetarian</a>
      </li>
    </ul>
  </div>
  <div id="user-div">
  <ul class="user-info">
    <% if (currentUser) { %>
      <li>Welcome <%= currentUser.username %></li>
      <li>
        <form action="/recipes/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" class="btn-small red" />
        </form>
      </li>
      <% } else { %>
      <!-- <li><a href="/recipes/users/new"><button>Sign Up</button></a></li>
      <li> | </li> -->
      <li><a href="/recipes/sessions/new"><button>Log In</button></a></li>
      <% } %>
    </ul>
  </div>
  <div id="nav-dropdown">
      <% if (currentUser) { %>
        <li>Welcome <%= currentUser.username %></li>
        <li>
          <form action="/recipes/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" class="btn-small red" />
          </form>
        </li>
        <% } else { %>
        <!-- <li><a href="/recipes/users/new"><button>Sign Up</button></a></li> -->
        <li><a href="/recipes/sessions/new"><button>Log In</button></a></li>
        <% } %>
    <a class="dropdown-link" href="/recipes/meat"><li>Meat</li></a>
    <a class="dropdown-link" href="/recipes/poultry"><li>Poultry</li></a>
    <a class="dropdown-link" href="/recipes/seafood"><li>Seafood</li></a>
    <a class="dropdown-link" href="/recipes/vegetarian"><li>Vegetarian</li></a>
  </div>
  <a id="hamburger-link" onclick="showMenu()">
    <img id='hamburger' src="https://img.icons8.com/external-bluetone-bomsymbols-/91/000000/external-hamburger-menu-digital-design-bluetone-set-2-bluetone-bomsymbols-.png"/>
  </a>

</nav>