<label>Name:</label><br/><input type="text" name="name" required/><br/>
<label>Image:</label><br/><input type="text" name="img"/><br/>
<label>Link:</label><br/><input type="text" name="link"required/><br/>
<label>Cook Time:</label><br/><input type="number" name="cookTime" required/><br/>
<label>Style:</label><br/><input type="text" name="style"/><br/>
<label>Main Ingredient:</label><br/><input type="text" name="base"/><br/>
<label>Genre:</label><br/><input type="text" name="genre"/><br/>
<label>Comments:</label><br/><input type="text" name="comments"/><br/>
<input id="save-changes" type="submit" value="Create Recipe!"/>