body {
  background-color: skyblue;
  margin: 0;
  height: auto;
}
/* Nav bar */
.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 0px;
}
.nav-item {
  display: inline;
  margin-left: 5px;
}
.nav-link {
  text-decoration: none;
  color: rgb(47, 138, 174)
}
/* ////////////// */
.page-title {
  text-align: center;
  margin-top: 10px;
}
.home-container {
  display: flex;
  flex-direction: column;
}
.home-div {
  background-color: bisque;
  text-align: center;
  padding: 15px;
  margin: 20px;
  border-radius: 75px;
}





