body {
  background-color: skyblue;
  background-image: radial-gradient(white, skyblue);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}
/* Header + Nav bar */
header {
  position: fixed;
  width: 100%;
}
.navbar {
  background-color:rgb(251, 251, 250);
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
}
.navbar div{
  margin-top: auto;
  margin-bottom: auto;
}
nav ul {
  margin-top: auto;
  margin-bottom: auto;
}
.nav-item {
  display: inline;
  margin-left: 5px;
}
.nav-link {
  text-decoration: none;
  color: rgb(47, 138, 174);
}
#nav-dropdown{
  overflow: hidden;
  position: relative;
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.dropdown-link {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  right: 0;
}
#nav-dropdown li {
  margin-bottom: 10px;
  list-style-type: none;
}
#hamburger {
  width: 30px;
}
#hamburger-link {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  padding: 7px;
}
#user-div {
  position: fixed;
  right: 0;
  align-self: center;
  padding: 15px;
}
.user-info li {
  display: inline;
  list-style-type: none;
}
.login-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 1 auto;
  align-content: center;
  overflow: auto ;
  align-items: center;
  margin-top: 15px;
}
.login-container button{
  margin-top: 20px;
}
#login-form input{
  margin-top: 10px;
  width: 200px;
}
/* ////////////// */
/* //////HOME PAGE//////// */
.title-div {
  display: flex;
  justify-content: center;
}
.page-title {
  text-align: center;
  margin-top: 100px;
  display: inline-block;
}
.home-container {
  display: flex;
  flex-direction: column;
}
.home-div {
  background-color: bisque;
  text-align: center;
  padding: 15px;
  margin: 20px;
  border-radius: 75px;
}
.home-div img {
  width: 60%;
  border: solid 1px skyblue;
  border-radius: 25px;
  box-shadow: 2px 2px 2px skyblue;
}
/* //////BUTTONS//////// */
button {
  background-color: bisque;
  font-family: 'Roboto Mono', monospace;
  border-radius: 25px;
  font-size: 16px;
  color: black;
}
button:hover, a:hover {
  cursor: pointer;
}
/* Background animation sources: https://www.w3schools.com/css/css3_animations.asp, https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes rainbowGradient {
	0% {background-position: 0% 25%;}
  25% {background-position: 25% 50%;}
	50% {background-position: 50% 100%;}
	100% {background-position: 0% 50%;}
}
#random-div {
  background: linear-gradient(to left, white, skyblue, rgb(217, 140, 140), bisque);
  background-size: 200% 200%;
  animation: rainbowGradient 15s ease infinite;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#random-btn {
  color: black;
  text-align: center;
  /* margin-top: 15px;
  margin-bottom: 15px; */
  margin-left: auto;
  margin-right: auto;
}
.edit-btn {
  background-color: skyblue;
  background-image: radial-gradient(white, skyblue);
  color: black;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  cursor: pointer
}
a:active {
  text-decoration: underline;
}
#back-btn {
  background-color: skyblue;
  background-image: radial-gradient(white, skyblue);
  margin-top: 30px;
}
/* ///////FOOTER////////// */
footer {
  display: flex;
  position: static;
  width: 100%;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 20px;
  }
/* ////////SUB INDEX PAGES///////// */
.index-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 1 auto;
  align-content: center;
  overflow: auto ;
  align-items: center;
}
.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: bisque;
  text-align: center;
  padding: 35px;
  margin: 20px;
  border-radius: 75px;
  width: fit-content;
  height: fit-content;
}
.recipe-container img, .show-container img {
  align-self: center;
  width: 400px;
  border: solid 1px skyblue;
  border-radius: 25px;
  box-shadow: 2px 2px 2px skyblue; 
}
.recipe-link {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.new-link {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ////// SHOW PAGE ////////// */
.show-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: bisque;
  text-align: center;
  padding: 35px;
  margin: 20px;
  border-radius: 75px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* //////EDIT PAGE////// */
.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: bisque;
  text-align: center;
  padding: 40px;
  margin: 20px;
  border-radius: 75px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.edit-container label{
  text-align: center;
}
.edit-container input{
  float: right;
  width: 400px;
  margin-bottom: 20px;
  font-size: 14px;
}
#save-changes, #delete{
  background-color: skyblue;
  font-family: 'Roboto Mono', monospace;
  border-radius: 25px;
  font-size: 16px;
  color: black;
}
#delete {
  /* DONT FORGET TO CHANGE THIS */
  margin-top: 200px;
  background-color: rgb(217, 140, 140);
}
#save-changes, #delete:hover{
  cursor: pointer;
}

#login-form h4{
 text-align: center;
}
h4 span{
  text-decoration: underline;
}

/* ///// MOBILE /////////// */

@media only screen and (max-device-width: 814px){
  h1 {
    font-size: 20px;
  }
  .show-container img, .recipe-container img{
    width: 60%;
  }
  #nav-list{
    display: none;
  }
  .user-info {
    display: none;
  }
  #hamburger-link {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  #nav-list{
    display: none;
  }
  .user-info {
    display: none;
  }
  #hamburger-link {
    display: block;
  }
}




