<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>New Recipe</title>
  </head>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <div class="edit-container">
    <form id="edit-recipe" action="/recipes/seafood" method="POST">
      <%- include ('../partials/newform.ejs') %>
    </form>
    <a href="/recipes/seafood/"><button class="edit-btn" id="back-btn">Back</button></a>
  </div>
  <footer>
    <%- include ('../partials/footer.ejs') %>
  </footer>
</body>
</html>