<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <title>Log In</title>
</head>
<body>
    <header>
      <%- include ('../partials/header.ejs') %>
    </header>
    <form id='login-form' action="/recipes/sessions/" method="post">
      <div class="login-container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
        <button type="submit">Login</button>
      </div>
      <div class="login-container">
        <a href="/recipes/"><button type="button" class="cancelbtn">Cancel</button></a> 
      </div>
    </form>
</body>
</html>