<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <title>Sign Up</title>
</head>
<body>
    <header>
      <%- include ('../partials/header.ejs') %>
    </header>
    <form id='login-form' action="/recipes/users" method="POST">
      <div class="login-container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Sign Up!</button>
      </div>
      <div class="login-container">
        <a href="/recipes/"><button type="button" class="cancelbtn">Cancel</button></a> 
      </div>
    </form>
</body>
</html>