<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <title>Recipe Home</title>
</head>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <h1>Hello World -- Let's Cook some birds!</h1>
</body>
</html>